database:
  backend: "postgresql"
  host: "localhost"
  user: "username"
  password: "password"
  db_name: "database_name"
spider:
  domain:
    - "www.math.pmf.unizg.hr"
    - "web.math.hr"
    - "web.studenti.math.hr"
    - "web.math.pmf.unizg.hr"
  skip_exts:
    - "zip"
    - "jpg"
    - "tar"
    - ".rar"
    - ".nb"
    - ".gif"
    - "tar.xf"
    - "ppt"
    - "pps"
    - "ps"
    - "mp3"
    - "mp4"
    - "wav"
    - "bmp"
    - "png"
    - "pptx"
    - "doc"
    - "docx"
    - "xls"
    - "jpeg"
    - "pdf"
    - "djvu"
    - "txt"
    - "dvi"
    - ".cpp"
    - ".h"
    - ".gz"
    - ".m"
    - ".ma"
    - ".c"
    - ".kl"
    - ".g"
    - ".dre"
    - ".inc"
    - ".os"
    - ".rez"
    - ".bat"
    - ".dat"
    - ".java"
  debug: true
analysis: true